:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  background-color: #e2fdec;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 500px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 150px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: rgb(0, 0, 0);
  color: white;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  margin-top: 8%;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(240, 159, 9);
}


/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */
/* home product grid */
.product-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--dark-grey);
  padding-left: 0;
}

.product-grid > li {
  width: 400px;
  /* border: 1px solid var(--light-grey); */
  padding: 0.5em;
  margin: 0.5em;
  filter: grayscale(100%);
}

.product-grid > li:hover {
  width: 405px;
  filter: grayscale(0%);
}
.product-grid h2 {
  margin: 0;

  font-size: 1.2em;
}
.product-grid a {
  text-decoration: none;
}
.product-grid a:link,
.product-grid a:visited {
  color: var(--dark-grey);
}
.product-grid a:hover {
  text-decoration: underline;
}

/* end home product grid */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
  text-align: center;
  margin: auto;
}



.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}


.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  position: relative;
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 300px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */


#main{
  padding-bottom: 15%;
  min-height: 800px;
  background-color: white;
  border-bottom: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

#productImage{
  max-width: 400px;

}

h1, h2, h3{
  font-family: "Times New Roman", Times, serif;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;

}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.cart-footerhide {
  display: none;
}

.cart-footershow {
  display: contents;
  text-align: center;
}

#success {
  margin-left: 20% ;
  margin-right: 20%;
}
/*Styles for the forms in the checkout page*/
.shipping{
  display: grid;
  justify-content: center;
  margin-left: 33%;
  margin-right: 33%;
}
.payment{
  display: grid;
  justify-content: center;
  margin-left: 33%;
  margin-right: 33%; 
}
.order{
  display: grid;
  justify-content: center;
  margin-left: 33%;
  margin-right: 33%;
}



.switch {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--dark-grey);
  padding-left: 0;
}


.product-list{
  width: 600px;
  justify-content: center;
  text-align: center;
  /* border: 1px solid var(--light-grey); */
}

.arrow{
  width: 20px;
  /* border: 1px solid var(--light-grey); */


}

.arrow > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.arrow > a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

#maincart{
  justify-content: center;
  align-content: center;
  padding-bottom: 15%;
  min-height: 800px;
  background-color: white;
  border-bottom: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

#cart-items{
  margin: auto;
}

#form{
  margin-left: 5%;
  margin-right: 5%;
  
}

#news > button{
  text-align: center;
  margin: auto;
}

.Delete{
  width: 20px;
  text-align: center;
  margin-left: 15px;
  padding: 3px;
}
@media screen and (min-width: 500px) {
  body {

    margin: 0;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
  #form{
    margin-left: 30%;
    margin-right: 30%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

.product-card__discount {
  background: red;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
}

#cart-count {
  background-color: #c95c5c;
  border-radius: 16px;
  color: black;
  position: absolute;
  top: -7px;
  right: -4px;
  width: 25px;
  height: 25px;
  padding-top: 2px;
}

#cart-link {
  text-decoration: none;
}
#cart-link > img{
  width: 80px;
  border: 3px solid #9c1c1c;
}


.image-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

#information{
  margin-top: 5%;
}


/* alert styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  border: 1px solid darkorange;
}
.alert > p {
  margin: 0;
}

/*newsletter style*/
#email {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 80%;
  line-height: 2em;
}

#signupmessage{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.messageThanks {
  background-color: rgb(150, 243, 150);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.messageThanks > h3 {
  margin: 0;
}

